BOT_TOKEN=isi_token_bot_telegram
MINI_APP_URL=https://www.mochixyz.com

SUPABASE_URL=https://project-ref.supabase.co
SUPABASE_KEY=isi_service_role_key_supabase

ADMIN_ID=123456789

SMSBOWER_API_KEY=isi_api_key_smsbower
SMSCODE_API_KEY=isi_api_key_smscode
VAK_SMS_API_KEY=isi_api_key_vak_sms_jika_dipakai

PAKASIR_PROJECT_SLUG=isi_slug_project_pakasir
PAKASIR_API_KEY=isi_api_key_pakasir

BOT_PORT=3000
